@import "veriable";
@import "button";


@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: "Space Grotesk",
    sans-serif;
}

.breadcrumb {
  font-weight: 500;
  font-size: 18px;

  a {
    text-decoration: none;
    color: #fff !important;
  }


  .active {
    color: $primary-color;
  }
}

.work-breadcrumb.breadcrumb a {
  color: #000 !important;
}

// .title {
//   position: relative;
//   padding-bottom: 14px;
//   margin-bottom: 25px;
//   font-weight: 700;
//   font-size: 32px;
// }

// .title:before {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   transform: translate(-50%);
//   width: 50px;
//   height: 3px;
//   background-color: $primary-color;
//   border-radius: 3px;
// }

// .title:after {
//   content: "";
//   position: absolute;
//   bottom: 0;
//   left: 50%;
//   transform: translate(30px);
//   width: 10px;
//   height: 3px;
//   background-color: #e23d69;
//   border-radius: 3px;
// }

.section-title {
  h2 {
    padding: 5px 10px;
    font-size: 22px;
    line-height: 1.1;
    font-family: "Space Grotesk",
      sans-serif;
    font-weight: bold;
    color: #000;
    border-radius: 8px;
    margin-bottom: 0;
    background-color: $primary-color;
    font-weight: 500;
    color: #fff;

  }

  p {
    font-weight: 500;
    margin: 0;
  }

  .section-description {
    font-size: 18px;
  }
}

.section-title.d-flex {
  gap: 10px;
  align-items: center;
}

header {
  img {
    width: 120px;

  }

  font-size: 18px;
  font-weight: 500;

  .nav-item {
    padding: 0 20px;
  }
}

// banner
.banner {
  height: 80vh;
  display: flex;
  align-items: center;
}

// partner logo
.partner-logo {
  img {
    transition: all 0.4s ease-in-out;
    display: inline-block;
    filter: grayscale(100);

    &:hover {
      filter: none;
      transform: scale(1.1);
    }
  }
}

// .logo-slide {
//   overflow: hidden;
//   white-space: nowrap;

//   .logo-content {
//     display: flex;
//     animation: slide 20s linear infinite;

//     .logo-img {
//       margin: 0 1rem;
//       width: 100px;
//       transition: all 0.4s ease-in-out;
//       display: inline-block;
//       filter: grayscale(100);
//       object-fit: contain;

//     
//     }


//   }

//   .paused {
//     animation-play-state: paused;
//   }
// }

// @keyframes slide {
//   from {
//     transform: translateX(0);
//   }

//   to {
//     transform: translateX(-100%);
//   }
// }



// our services
.our-services {
  .custom-card {
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .title {
      display: inline-block;
      padding: 5px 10px;
      font-size: 24px;
      line-height: 1.1;
      font-family: Arial, sans-serif;
      font-weight: bold;
      color: black;
      border-radius: 8px;
    }

    .learn-more {
      color: #000;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 2px;

      .fa-arrow-right {
        margin-left: 5px;

        border-radius: 50%;
        transform: rotate(-45deg);
        height: 30px;
        width: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }

    img {
      height: 150px;
    }
  }

  .card-wrapper {
    border-bottom: 5px solid;
    border-radius: 20px;
  }

  .bg-light {
    background-color: #f3f3f383 !important;

    .title {
      color: #000;
      background-color: #fff;
      font-family: "Space Grotesk",
        sans-serif;
    }

    .fa-arrow-right {
      color: #fff;
      background-color: $primary-color;
    }
  }

  .bg-pink {
    background-color: #e6ffee88;

    .title {
      color: $primary-color;
      background-color: #fff;
      font-family: "Space Grotesk",
        sans-serif;
    }

    .fa-arrow-right {
      color: #fff;
      background-color: $primary-color;
    }
  }

  .bg-pink-light {
    background-color: #e6e6ff7d;

    .title {
      color: #000;
      background-color: #fff;
      font-family: "Space Grotesk",
        sans-serif;
    }

    .fa-arrow-right {
      color: #fff;
      background-color: $primary-color;
    }
  }
}

// free-proposal
.free-proposal {
  .bg-light {
    border-radius: 20px;

  }

  p {
    font-weight: 500;
  }

  .proposal-img {
    max-width: 100%;
    // height: 300px;
    // margin: -50px auto;
  }
}

.case-study {
  .bg-dark {
    background-color: #191A23 !important;
  }

  p {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: $primary-color;
    font-size: 20px;
    font-weight: 500;

    i {
      transform: rotate(-45deg);
    }
  }

  .custom-card {
    border-right: 1px solid #fff;
  }
}

.working-process {
  .accordion-button {
    position: relative;
    font-size: 20px;
    color: #333;

    outline: none;
    transition: all 0.5s ease;
    padding: 30px;
    font-weight: 500;

    &:focus {
      outline: none; // Remove focus outline
      box-shadow: none; // Remove any potential box-shadow
    }

    &::after {
      content: "";
      width: 16px;
      height: 16px;
      margin-left: auto;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      transition: all 0.5s;
    }

    &:not(.collapsed)::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-dash' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z'/%3E%3C/svg%3E");
      border: 1px solid #000;
      border-radius: 50%;
      padding: 10px;
    }

    &.collapsed::after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-plus' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z'/%3E%3C/svg%3E");
      border: 1px solid #000;
      border-radius: 50%;
      padding: 10px;
    }



    span {
      font-size: 2rem;
      padding-right: 12px;
      font-weight: 700;
    }
  }

  .accordion-item {
    border: none;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .accordion-header {
    margin-bottom: 0;
  }

  .accordion-body {
    background-color: #e6ffee;
    padding: 30px;
    border-top: 1px;
    border: 1px solid #ddd;
    border-bottom: 5px solid #6b6b6b;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }


  .accordion-button.collapsed {
    border-bottom: 5px solid #ddd;
    border-radius: 15px !important;
    border: 1px solid #ddd;
    border-bottom: 5px solid #ddd;
    background-color: #e6ffee;
  }

  .accordion-button {
    border: 1px solid #ddd;
    border-bottom: 0px;
    border-radius: 0 !important;
    border-top-right-radius: 15px !important;
    border-top-left-radius: 15px !important;
    background-color: #e6ffee88;

  }
}


// testimonial-slider{
.testimonial-slider {
  // background-color: #191A23;
  border-radius: 15px;

  .testimonial-card {
    border: 1px solid $primary-color;
    border-radius: 15px;
    padding: 20px;
    position: relative;
    background-color: #f9f9f9d4;
  }

  .testimonial-text {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #191A23;
  }

  .testimonial-author {
    text-align: right;
  }

  .author-name {
    font-weight: bold;
    color: $primary-color;
    margin-bottom: 0;
  }

  .author-title {
    font-size: 0.9rem;
    color: #191A23;
    margin-top: 0;
  }
}


.contact-us {
  border-radius: 15px;

  .form-check-input:checked {
    background-color: $primary-color;
    border-color: $primary-color;
    box-shadow: 0 0 0 .25rem rgba(228, 65, 165, 0.25);
  }

  .form-control {
    box-shadow: none;
    outline: none;
    border: 0;
    background-color: #f9f9f9;
    padding: 6px 12px;
  }

  #formFile {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 6px 12px;
  }


}

.footer {
  background-color: #191A23;

  .footer-logo {
    width: 150px;
  }

  h5 {
    padding: 4px 6px;
    background-color: $primary-color;
    display: inline;
    border-radius: 8px;
    margin: 10px 0;
  }

  p {
    font-weight: bold;
  }

  ul {
    padding-left: 0;
    list-style: none;

    li {
      padding: 10px 0;
    }
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .subscribe-form {
    background-color: #292A32; // Slightly lighter dark background
    padding: 1rem;
    border-radius: 0.5rem;



    .form-control {
      border: 1px solid #D1D1D1; // Light border color for input
      background-color: #2C2C2C; // Dark background for input
      color: #fff; // White text color
      border-radius: 0.5rem;
      box-shadow: none;
    }


  }

  .social-icons {
    display: flex;
    gap: 1rem;
  }

  .social-icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    color: #1A1A1A;
    text-decoration: none;
    transition: .5s;

    &:hover {
      background-color: $primary-color;
      color: #fff;
      transition: .5s;
    }
  }

  .footer-bottom {
    a {
      color: #fff;
      font-weight: 600;
    }
  }
}




// page hero
.hero {
  background:
    #000000;
  height: 100vh;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.our-work {
  h6 {
    font-size: 20px;
    color: $description-color;
    font-weight: 500;
  }

  .description {
    font-size: 18px;
    color: $description-color;
  }

  .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }

    .overlay {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba(232, 42, 115, 0.8), rgba(232, 42, 115, 0));
      opacity: 0;
      transition: opacity 0.5s, left 0.5s;
      border-radius: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      font-size: 2rem;
      font-weight: bold;
    }

    &:hover .overlay {
      opacity: 1;
      left: 0; // Move to its correct position
    }

    .overlay-text {
      margin: auto;
      white-space: nowrap;
    }

  }
}

// work-details
.work-details {
  p {
    color: $description-color;
    font-weight: 500;
  }

  .work-details-img {

    object-fit: cover;
  }

}

.info-section {
  .info-section {
    color: #000;
    padding: 20px;
  }

  .info-title {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    font-size: 20px;
    color: #545454;
  }

  .info-content {
    font-size: 20px;
    font-weight: 600;
  }

  .info-content a {
    color: #000;
    text-decoration: none;
  }

  .info-content a:hover {
    text-decoration: underline;
  }

  .fa-solid {
    font-size: 18px;
    padding-left: 5px;
  }
}

.about-the-project {
  h4 {
    color: #545454;
  }

  p {
    font-size: 20px;
    font-weight: 500;
  }
}

.testimonial {
  .testimonial-card {
    background-color: #ffff00;
    color: black;
    padding: 4rem;
  }



  .testimonial-card .quote {
    font-size: 2rem;
    font-weight: bold;
  }

  .testimonial-card .author {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
  }

  .testimonial-card .author img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem;
  }

  .testimonial-card .author .name {
    font-weight: bold;
    font-size: 20px;
  }

  .testimonial-card .author .title {
    font-size: 1rem;
    color: grey;
  }

  .testimonial-card .review-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

    .fa-arrow-up-right-from-square {
      font-size: 18px;
    }
  }

  .testimonial-card .review-link:hover {
    text-decoration: underline;
  }
}

.design-process {
  h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 22px;
    color: #ffff;
  }

  p {
    font-size: 16px;
    font-weight: 600;
    color: #97979b;
  }
}

// about us

.about-us {
  background-color: #fff;

  .hero-title {
    font-size: 4rem;
    font-weight: bold;
    color: #000;
  }

  .with-text-title {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .with-text {
    display: inline-block;
    padding: 5px 12px;
    border: 1px solid #000;
    border-radius: 5px;
    font-weight: normal;
    font-size: 2rem;
    border-radius: 25px;
  }


  .hero-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 20px;
  }

  .welcome-text {
    font-size: 1.5rem;
    padding: 3px 10px;
    border: 1px solid #fff;
    border-radius: 20px;
  }

  .star-icon {
    font-size: 4rem;
    font-weight: bold;
  }

  .hero-card-text {
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    padding: 0px 20px 15px 20px;

  }
}



// achievement
.achievement {
  img {
    border-radius: 8px;
  }

  .stat {
    background-color: #f0f0f0;
    padding: 5px 20px 20px 20px;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .number {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;

    span {
      font-size: 1.5rem;
    }

    .fa-sterling-sign {
      font-size: 2rem;
    }
  }

  .label {
    font-size: 1rem;
    color: #888;
    margin: 0;
  }

  .info {
    background-color: #e8f99b;
    padding: 20px;
    border-radius: 8px;
    text-align: left;

    p {
      margin-top: 20px;
    }
  }

  .tags .badge {
    margin-right: 5px;
    border: 1px solid #000;
    padding: 6px 10px;
    border-radius: 15px;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  p {
    color: #555;
  }

  .arrow-link {
    font-size: 3rem;
    color: #000;
    text-decoration: none;
  }

  .fa-arrow-right {
    transform: rotate(-45deg);
  }

  .arrow-link:hover {
    color: #555;
  }
}

.about-us-details {
  .info {
    background-color: #f6f9fc;
  }
}


.about-us-details {
  .card {
    min-height: 300px;
  }
}


/*only mobile area */
@media (max-width: 768px) {
  .work-details {
    .d-flex {
      gap: 20px;
    }
  }

  .testimonial .testimonial-card {
    padding: 1rem;
  }

  .testimonial .testimonial-card .quote {
    font-size: 1.5rem;
  }

  .testimonial .testimonial-card .author {
    justify-content: space-between;
  }

  .testimonial .testimonial-card .author .name {
    font-size: 1rem;
  }

  .testimonial .testimonial-card .author img {
    margin-right: 10px;
  }

  .testimonial .testimonial-card .review-link {
    font-size: 1rem;
  }

  .testimonial .testimonial-card .author .title {
    font-size: 14px;
  }

  .testimonial .testimonial-card .review-link .fa-arrow-up-right-from-square {
    font-size: 14px;
  }

  .info-section .info-title {
    font-size: 16px;
    margin: 0;
    margin-bottom: 6px;
  }

  .info-section .info-content {
    font-size: 16px;
  }

  .info-section .info-content p {
    margin: 0 !important;
    // margin-bottom: 5px !important;
  }

  .info-section .fa-solid {
    font-size: 14px;
  }
}


// blog

.tab-content {
  .custom-card {
    border-radius: 15px;
    overflow: hidden;

    .card-img-top {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      height: 200px;
      object-fit: cover;
    }

    .card-body {
      padding: 1.5rem;

      .card-title {
        margin-bottom: 1rem;

        h6 {
          font-size: 0.875rem;
          margin-bottom: 0.25rem;
        }

        h5 {
          font-size: 1.25rem;
          font-weight: bold;
        }
      }

      .card-text {
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }

      .tags {
        .badge {
          margin-right: 0.5rem;

          &:last-child {
            margin-right: 0;
          }
        }
      }

      i {
        font-size: 1.25rem;
        margin-left: 5px;
        cursor: pointer;

        &:hover {
          color: $primary-color;
        }
      }
    }
  }

}


.nav-tabs {
  border-bottom: 0;

  .nav-link {
    color: #6c757d; // Default text color for inactive tabs
    font-weight: 500;

    &:hover {
      color: #495057; // Darker color on hover
      border: 1px solid transparent;
    }

    &.active {
      color: $primary-color;
      border-color: $primary-color;
      border-bottom: 2px solid $primary-color;
      background-color: $primary-color;
      color: #fff;
    }

    outline: none;

  }



  outline: none !important;
  border: 0;
}

// Optional: Add additional custom styles for tab content
.tab-content {
  .tab-pane {
    padding-top: 20px;

  }
}

// blog-single
.blog-single {
  .title i {
    color: $primary-color;

    h2 {
      font-weight: 600;
    }
  }

  p {
    color: #666666;
    margin: 0 0 25px;
    text-transform: none;
    font-weight: 500;
    font-size: 1.1rem;
  }

  li {
    color: #666666;
    text-transform: none;
    font-weight: 500;
    font-size: 1.1rem;
  }

  // search
  .search-container {
    display: flex;
    align-items: center;
    background-color: $primary-color;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
  }

  .search-input {
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    flex: 1;
    font-weight: 500;
  }

  .search-input::placeholder {
    color: white;
  }

  .search-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 10px;
  }

  .search-button i {
    font-size: 18px;
    /* Adjust the size as needed */
  }

  .latest-posts {


    h4 {
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }

    .post {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 8px;
      transition: .7s;
      margin-bottom: 10px;

      &:hover {
        background-color: #fff;
        transition: .5s;
      }

      img {
        width: 70px;
        height: 70px;
        border-radius: 8px;
        margin-right: 10px;
      }

      .post-content {
        .post-author {
          display: flex;
          align-items: center;

          .author-icon {
            font-size: 1rem;
            margin-right: 5px;
            color: #6c757d;
            font-weight: 500;

            i {
              color: $primary-color;
            }
          }

          color: #6c757d;
          font-size: 0.875rem;
        }

        .post-title {
          font-size: 1rem;
          font-weight: 500;
          color: #000;
        }
      }
    }
  }

  .categories,
  .tags,
  .latest-posts {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
  }

  .categories {
    .category-item {
      padding: 15px 10px;
      font-size: 1rem;
      color: #6c757d;
      margin: 10px 0px;

      &.active {
        background-color: #ffffff;
        color: #212529;
        padding: 15px 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }

      &:hover {
        background-color: #ffffff;
        color: #212529;
        padding: 15px 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      }
    }
  }

  .tags {
    .tag-item {
      background-color: #ffffff;
      color: #6c757d;
      padding: 10px;
      font-size: 0.875rem;

      &:hover {
        cursor: pointer;
        background-color: #e2e6ea;
      }
    }
  }
}


.community-hub {
  input {
    padding: 10px 20px;
    box-shadow: none !important;

    &:focus {
      border-color: $primary-color;
    }
  }

  .news-button {
    gap: 10px;
  }
}

.community-info {
  .card {
    border-radius: 1rem;
    border-top: 5px solid $primary-color;

    img {
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      // height: 250px;
      object-fit: cover;
    }

    height: 520px;

    h5 {
      font-size: 18px;
    }

    li {
      font-size: 15px;

    }
  }
}


// tab area only 
@media (min-width: 768px) and (max-width: 991.98px) {
  .hero {
    height: 70vh;
  }
}

// desktop area only
@media (min-width: 992px) {
  .hero {
    height: 70vh;
  }

  .work-details .work-details-img {
    height: 600px;
  }

  .subscribe-form {
    .flex {
      gap: 6px;
      display: flex;

      input {
        width: 60%;
      }

      button {
        width: 50%;
      }
    }
  }

  .contact-us {
    img {
      width: 75%;
    }
  }
}

// tab area only 
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  .navbar-toggler {
    padding: 0;
    border: 0;

    i {
      font-size: 30px;
    }
  }

  .banner {
    height: 50vh;
  }

  .subscribe-form button {
    margin-top: 10px;
    width: 100%;
  }

  .contact-us {
    img {
      width: 100%;
    }
  }
}

// mobile area only
@media (max-width: 768px) {
  header ul {
    padding-top: 20px;
  }

  header .nav-item {
    padding: 0;
  }

  .navbar-toggler:focus {
    box-shadow: none !important;
  }

  .navbar-toggler {
    padding: 0;
    border: 0;

    i {
      font-size: 30px;
    }
  }

  .subscribe-form {
    .flex {
      button {
        width: 100%;
        margin-top: 10px;
      }
    }
  }

  .contact-us {
    img {
      width: 100%;
    }
  }
}