* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.page-hero {
  background: rgba(0, 0, 0, 0) url(assets/img/section-hero.jpg) repeat scroll 0
    0 / cover;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}
.community-page-hero {
  background: rgba(0, 0, 0, 0) url(assets/img/community.jpg) repeat scroll 0 0 /
    cover;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
}
.page-hero::after {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center center;
  background-size: auto auto;
  margin-left: 0;
  margin-right: 0;
}

.community-page-hero::after {
  background: rgb(0, 0, 0) none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
  background-attachment: fixed;
  background-position: center center;
  background-size: auto auto;
  margin-left: 0;
  margin-right: 0;
}

.hero-card {
  background: rgba(0, 0, 0, 0) url(assets/img/black-bg.jpg) repeat scroll 0 0 /
    cover;
  position: relative;
  width: 100%;
  z-index: 1;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 300px;
}
